<div class="row" [formGroup]="form">
  <div class="col form-group">
    <label [for]="input.key"
           class="form-label">
      <span>{{ input.label }} {{ input?.unit }}</span>
      <span class="text-danger" *ngIf="isRequired">*</span>
    </label>
    <ng-container [ngSwitch]="input.controlType">
      <input *ngSwitchCase="'textbox'"
             [ngClass]="{'is-valid': isValid, 'is-invalid': isInvalid}"
             [type]="input.type"
             [id]="input.key"
             [formControlName]="input.key"
             class="form-control">
      <div *ngSwitchCase="'radioGroup'">
        <div class="form-check">
          <input
            [type]="input.type"
            [name]="input.key"
            (change)="onChange('yes', input.key)"
            id="falseRadio"
            class="form-check-input"
          >
          <label class="form-check-label" for="falseRadio">
            Si
          </label>
        </div>
        <div class="form-check">
          <input
            [type]="input.type"
            [name]="input.key"
            (change)="onChange('no', input.key)"
            id="trueRadio"
            class="form-check-input"
          >
          <label class="form-check-label" for="trueRadio">
            No
          </label>
        </div>
      </div>
      <select *ngSwitchCase="'select'"
              [ngClass]="{'is-valid': isValid, 'is-invalid': isInvalid}"
              [formControlName]="input.key"
              class="form-select">
        <option *ngFor="let option of input.options"
                [value]="option.key">
          {{ option.value }}
        </option>
      </select>
    </ng-container>
    <div *ngIf="isInvalid">
      <small class="text-danger"
             *ngIf="this.form.get(input.key).hasError('required')">
        Valore richiesto
      </small>
      <small class="text-danger"
             *ngIf="this.form.get(input.key).hasError('max')">
        {{ input.label }} deve essere inferiore a {{ this.form.get(input.key).errors.max.max }} {{ input.unit }}
      </small>
      <small class="text-danger"
             *ngIf="this.form.get(input.key).hasError('min')">
        {{ input.label }} deve essere superiore a {{ this.form.get(input.key).errors.min.min }} {{ input.unit }}
      </small>
    </div>
  </div>
</div>
